/* Profile.css */

/* 모달 전체 스타일 */
.profile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-modal-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #2a2c30;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.profile-modal-content::-webkit-scrollbar {
  display: none;
}

.profile-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

/* 왼쪽 배너 섹션 */
.profile-modal-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  background-color: #444;
  padding: 20px;
  border-right: 2px solid #fff;
}

.profile-banner-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  color: black;  /* 글씨 색상을 검은색으로 설정 */
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.profile-banner-item:hover {
  background-color: red;
  color: white;
}

/* 오른쪽 프로필 정보 영역 */
.profile-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* 콘텐츠를 위쪽에 위치시킴 */
  color: white;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 20px;  /* 닉네임 아래 20px 간격 */
}

.profile-info p {
  font-size: 18px;
  margin-top: 20px;  /* 닉네임에서 20px 아래로 이동 */
}
